.addNew {
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.47);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.addNew .card {
    background-color: white;
    padding: 50px;
    border-radius: 20px;
}

.addNew .card .field {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.addNew .card h1 {
    text-align: center;
    color: #004c58;
    margin-bottom: 30px;
}

.addNew .card h2 {
    font-size: 20px;
    color: #004c58;
}

.addNew .card h3 {
    margin-right: 20px;
    color: #004c58;
}

.addNew .card input {
    height: 40px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
}

.addNew .card select {
    height: 30px;
    width: 100px;
    cursor: pointer;
    outline: none;
    background-color: white;
    border: 1px solid #004c58;
}

.addNew .card .textInp {
    width: 100%;
}

.addNew .card .numInp {
    width: 70px;
    -moz-appearance: textfield;
    margin: 0px 5px;
}

.addNew .card .numInp::-webkit-outer-spin-button,
.addNew .card .numInp::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.addNew .card p {
    color: orange;
}

.addNew .card button {
    background-color: white;
    border: 2px solid #004c58;
    padding: 5px 12px 6px 12px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #004c58;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-left: 20px;
}

.addNew .card button:first-child {
    margin-left: 0px;
}

.addNew .card button:hover {
    background-color: #004c58;
    transform: scale(1.1);
    color: white;
    border-radius: 0px;
    box-shadow: 0px 5px 10px #004c587d;
}